.project-info {
    padding: 75px 40px 0 40px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    position: relative;
    top: -25px;
}

.project-title {
    font-weight: 700;
    font-size: 1.5em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: var(--cor-azul-escuro);
}

.lighter {
    font-size: 0.9em;
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card {
    background-color: white;
    color: var(--cor-azul-escuro);
    width: 300px;
    border-radius: 8px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
        rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.card-img {
    position: relative;
    top: -20px;
    height: 100px;
    display: flex;
    justify-content: center;
}

/* Change the .card-img div to .card-img img to use img*/
.card-img a,
.card-img img {
    height: 150px;
    width: 90%;
    /* Change this width here to change the width of the color/image */
    object-fit: cover;
    border-radius: 8px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.tags p {
    font-size: 12px;
    font-weight: 200;
    color: var(--cor-amarelo);
    margin-top: 10;
    margin-bottom: 0;
}

.link-div {
    margin-top: 10px;
}

.link-btn {
    width: 105px;
    padding: 8px 12px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 4px;
    border: none;
    border-radius: 8px;
    background-color: var(--cor-azul-claro);
    color: var(--cor-branco);
    box-sizing: border-box;
    font-size: 14px;
    text-decoration: none;
    font-style: normal;
}

.link-btn:hover {
    font-weight: 600;
    cursor: pointer;
    transition: .2s;
}